//aca va a ir todo lo que tengo dentro de mi main

@use "variables" as v;

.container {
    margin: 0 auto;
}


// primer section de mi web


.hero {
    background-image: url(../img/fondo-dread.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;

    .hero-grid {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
        //boton de mi web
.btn {
    display: inline-block;
    padding: 12px 28px;
    border-radius: 50px;
    background: linear-gradient(240deg, #f1c40f, #2ecc71);
    color: black;
    font-weight: 600;
    text-decoration: none;
    transition: 0.25s ease-in-out;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    &:hover {
        animation: reggae-bounce 0.45s ease-in-out;
        transform: scale(1.05);
        box-shadow: 
            0 0 8px rgba(255, 0, 0, 0.4),
            0 0 14px rgba(241, 196, 15, 0.4),
            0 0 18px rgba(46, 204, 113, 0.4);
    }

    &:active {
        transform: scale(0.97);
    }
}
@keyframes reggae-bounce {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.08);
    }
    100% {
        transform: scale(1.05);
    }
}

        }

        h1 {
            font-size: v.$fuente-h1;
            font-weight: 700;
            margin: 0 0 12px;
            color: v.$color-principal;
        }

        .lead {
            font-size: v.$fuente-principal;
            font-weight: 700;
            color: v.$color-blanco;
            margin-bottom: 12px
        }
    }

    img {
        width: 100%;
        height: auto;
        border-radius: v.$radio-borde;
        box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6)
    }


// section colabs

.logos-container {
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
    display: flex;
    align-items: center;
    .logos-slide {
    display: flex;
    gap: 80px;
    animation: scroll 12s linear infinite;
    img {
    height: 60px;
    width: auto;
    transition: .3s ease-in-out;
    
}
}
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
}







//segundo section de mi web

.hero2 {
    background-image: url(../img/Fondo-dread-volt.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;

    .hero-grid {
        width: 98%;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        h3 {
            font-size: v.$fuente-h3;
            font-weight: 700;
            margin: 0 0 12px;
            color: v.$color-principal;
        }

        .lead {
            font-size: 1.1em;
            font-weight: 500;
            color: v.$color-blanco;
            margin-bottom: 12px
        }
    }

    img {
        width: 100%;
        height: auto;
    }
}

//hero jah


.hero-jah {
    width: 100%;
    height: 100vh;

    .hero-grid {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 0 60px;
        gap: 28px;

        //boton de jah
.btn {
    display: inline-block;
    padding: 12px 28px;
    border-radius: 50px;
    background: linear-gradient(240deg, #f1c40f, #2ecc71);
    color: black;
    font-weight: 600;
    text-decoration: none;
    transition: 0.25s ease-in-out;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    &:hover {
        animation: reggae-bounce 0.45s ease-in-out;
        transform: scale(1.05);
        box-shadow: 
            0 0 8px rgba(255, 0, 0, 0.4),
            0 0 14px rgba(241, 196, 15, 0.4),
            0 0 18px rgba(46, 204, 113, 0.4);
    }

    &:active {
        transform: scale(0.97);
    }
}
@keyframes reggae-bounce {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.08);
    }
    100% {
        transform: scale(1.05);
    }
}

        h3 {
            font-size: v.$fuente-h3;
            font-weight: 700;
            margin: 0 0 12px;
            color: v.$color-principal;
        }

        .lead {
            font-size: v.$fuente-principal;
            font-weight: 500;
            color: v.$color-blanco;
            margin-bottom: 12px
        }
    }

    img {
        width: 100%;
        height: auto;
        border-radius: v.$radio-borde;
        box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6)
    }
}


//responsive

@media (max-width: 600px) {

    .hero {
        height: auto;
        padding: 40px 15px;

        .hero-grid {
            grid-template-columns: 1fr;
            text-align: center;
            gap: 25px;
            padding: 10px 0;
        }

        h1 {
            font-size: calc(v.$fuente-h1 - 18px);
        }

        .lead {
            font-size: 1rem;
            margin-bottom: 15px;
        }

        img {
            width: 100%;
            border-radius: v.$radio-borde;
        }
    }

    .logos-container {
        padding: 15px 0;

        .logos-slide {
            gap: 40px;

            img {
                height: 40px;
            }
        }
    }

    .hero2 {
        height: auto;
        padding: 40px 15px;

        .hero-grid {
            grid-template-columns: 1fr;
            text-align: center;
            gap: 25px;
        }

        h3 {
            font-size: calc(v.$fuente-h3 - 12px);
        }

        .lead {
            font-size: 1rem;
            margin-bottom: 12px;
        }

        img {
            width: 100%;
        }
    }

    .hero-jah {
        height: auto;
        padding: 40px 18px;

        .hero-grid {
            grid-template-columns: 1fr;
            text-align: center;
            padding: 0;
            gap: 25px;
        }

        h3 {
            font-size: calc(v.$fuente-h3 - 12px);
        }

        .lead {
            font-size: 1rem;
        }

        img {
            width: 100%;
        }
    }
}